<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>{{'Welcome' | translate}}</h1>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/images/employment.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Employment</h2>
          <p>Looking for a job to get by or even a long term career. Use this tool to search and save jobs.</p>
          <p><a class="btn btn-secondary" href="#/employment" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/images/community.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Community</h2>
          <p>Need help finding people and events in your area. Click here.</p>
          <p><a class="btn btn-secondary" href="#/community" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/images/resources.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Resources</h2>
          <p>Find all the resources you need to help you on your way.</p>
          <p><a class="btn btn-secondary" href="#/resources" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>
</main>
<div>&nbsp;</div>
